/* stylequiz.css */
    body {
        font-family: sans-serif;
    }
    #quiz {
        text-align: center;
        margin-top: 50px;
    }
    .option {
        display: block; /* Sets each button in each line*/
        margin: 10px auto; /* Centralize the buttons */
        padding: 10px;
        cursor: pointer;
    }
    #result {
        margin-top: 20px;
        font-weight: bold;
    }
    .correct {
        color: green;
    }
    .incorrect {
        color: red;
    }